<h1>The Oregon Trail Top 
  <select [(ngModel)]="filter">
    <option selected="selected" value="10">10</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="{{scores.length}}">{{scores.length}}</option>
  </select>
</h1>
<table>
  <tr>
    <td></td>
    <th>Name</th>
    <th>Points</th>
    <th>Rating</th>
  </tr>
  <tr *ngFor='let entry of (scores | slice:0:filter )| numSort; let i = index;' (click)="showDetails(entry)">
    <td>{{i+1}}</td>
    <td>{{entry.first_name}} {{entry.last_name}}</td>
    <td>{{entry.points}}</td>
    <!--<td>{{getRating(entry.points)}}</td><!---->
    <td>{{entry.points | Rating}}</td><!---->
  </tr>
</table>
