/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: black;
    color: #00ff00;
    font-family: 'Courier', 'Lucida Console';
}